{% extends 'dashboard/base.html' %}
{% block title %}Post List{% endblock %}
{% block content %}
<div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            All Post List</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Sl No</th>
                    <th>Post Title</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Publish Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Sl No</th>
                    <th>Post Title</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Publish Date</th>
                    <th>Action</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>
                        <button class="btn btn-danger">Delete</button>
                        <button class="btn btn-info">Edit</button>
                        <button class="btn btn-success">Active</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

      </div>

{% endblock content %}